$content-margin: 1rem;
$base-font-size: 16px;
$base-line-height: 1.5;


$media-queries: (
  medium: (min-width: 500px)
);


$color: (
  background: linear-gradient(135deg, #1D4350, #7d2b25),
  type: #efefef,
  background--provider: rgba(255, 255, 255, .75),
  shadow: #333333
);


@function color($value) {
  @if map-has-key($color, $value) {
    @return map-get($color, $value);
  }
  @warn 'Requested colour is not included in the $color map.';
}
